* {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  color: #3F3F3F;
  font-size: 18px;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bitter', Georgia, 'Times New Roman', Times, serif;
  font-weight: 700;
}

a {
  color: #3AAED8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.is-blue {
  color: #3AAED8;
}

.hero {
  position: relative;
  padding: 0 3rem;
  height: 82vh;
}

.wave-bg {
  background-image: url(portfolio_assets/wave\ bg.svg);
  background-position-x: 600px;
  background-position-y: -20px;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero .gray-bg {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #F0F0F0;
  z-index: -1;
}

.hero h1 {
  font-weight: 900;
  width: 359px;
  font-size: 3.333333rem;
  line-height: 4rem;
}

.hero p {
  color: #1B85AC;
  width: 19.5555556rem;
  font-size: 1.388888rem;
  line-height: 1.666666667rem;
  margin-bottom: 1.666666667rem;
}

.hero .button {
  text-decoration: none;
  background-color: #FFFFFF;
  color: #3AAED8;
  padding: 0.75rem 1.5rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  font-size: 1.33333333rem;
  font-weight: 700;
  display: inline-flex;
  align-items: center;
  transition: background-color 250ms ease;
}

.hero .button:hover {
  background-color: #f0fbff;
}

.hero .button .learn-more-chevron {
  margin-left: 0.5rem;
}

.hero .container {
  display: flex;
  height: 100%;
}

.hero .container .animatable {
  position: relative;
}

.hero .container .animatable .el-1 {
  position: relative;
  top: 0%;
  left: 11%;
  width: 75%;
  animation: el1 1s infinite alternate ease-in-out;
}

@keyframes el1 {
  0% {
    top: -5%;
  }
  100% {
    top: 0%;
  }
}

.hero .container .animatable .el-2 {
  position: absolute;
  bottom: 36%;
  width: 25%;
  right: 9%;
  animation: el2 600ms infinite alternate ease-in-out;
}

@keyframes el2 {
  0% {
    bottom: 33%;
  }
  100% {
    bottom: 36%;
  }
}

.hero .container .animatable .el-3 {
  position: absolute;
  top: -6%;
  left: 11.5%;
  width: 30%;
  animation: el3 800ms infinite alternate ease-in-out;
}

@keyframes el3 {
  0% {
    top: -6%;
  }
  100% {
    top: -4%;
  }
}

.hero .container .animatable .el-4 {
  position: relative;
  width: 25%;
  top: -50%;
  left: 8%;
  animation: el4 1.2s infinite alternate ease-in-out;
}

@keyframes el4 {
  0% {
    top: -50%;
  }
  100% {
    top: -55%;
  }
}

.hero .container .content-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  z-index: 1;
}

header {
  background-color: #E7E6E6;
  position: sticky;
  top: 0;
  z-index: 99;
}

header .container {
  display: flex;
  justify-content: space-between;
}

header a {
  color: inherit;
}

header .container > a {
  font-family: 'Bitter', Georgia, 'Times New Roman', Times, serif;
  font-weight: 700;
  margin: 1.3rem 0;
}

header ul {
  list-style-type: none;  
  padding-left: 0;
  display: flex;
}

header ul li {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1.3rem;
}

header ul li a.active:after {
  content: "";
  background-color: #3AAED8;
  height: 0.4rem;
  width: 100%;
  display: block;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-top: 0.88rem;
}

#about {
  padding: 3rem 0;
  display: flex;
}

#about .avatar {
  background-image: url(portfolio_assets/face.jpg);
  background-size: cover;
  background-position: center;
  background-color: gray;
  width: 14.888889rem;
  height: 14.888889rem;
  border-radius: 100%;
}

#about .content {
  padding-left: 2.875rem;
  flex: 1;
}

#about h2 {
  margin-bottom: 1.4rem;
}

#about p {
  font-size: 1.277778rem;
  margin-bottom: 1.8655rem;
}

#skills {
  padding-top: 2rem;
}

#skills .heading {
  position: relative;
  padding-bottom: 2rem;
}

#skills .heading h2 {
  position: absolute;
  top: 0;
  left: 50%;
  font-size: 2.77778rem;
  background-color: #fff;
  display: table;
  text-align: center;
  transform: translate(-50%, -50%);
  padding: 0 1rem;
}

#skills .heading hr {
  border: 2px solid #3AAED8;
}

#skills .skills-list {
  padding: 2rem 0;
  display: flex;
}

#skills .skills-list .skill {
  width: 33.33333%;
  padding: 0 4rem;
  text-align: center;
}

#skills .skills-list .skill .skill-icon {
  background-image: url(portfolio_assets/skill-star.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  padding-top: 10%;
  padding-bottom: 10%;
  margin-bottom: 2rem;
}

#skills .skills-list .skill:nth-child(2) .skill-icon {
  padding-top: 15%;
  padding-bottom: 16%;
}

#skills .skills-list .skill:nth-child(3) .skill-icon {
  padding-top: 17.5%;
  padding-bottom: 17.5%;
}

#skills .skills-list .skill h3 {
  font-family: 1.66666667rem;
  margin-bottom: 0.8rem;
}

#skills .skills-list .skill p {
  line-height: 1.2222rem;
}

.projects-bg {
  margin-top: -13rem;
  background-image: url(portfolio_assets/diagonal-bg.svg);
  height: 80rem;
  background-size: 180%;
  background-repeat: no-repeat;
  background-position: center;
}

#projects {
  padding: 3rem 0;
  margin-top: -62rem;
}

#projects .heading {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

#projects .heading h2 {
  font-size: 4.44444rem;
  padding-right: 1rem;
}

#projects .heading .lines {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#projects .heading .lines .line {
  height: 0.533333rem;
  background-color: #3F3F3F;
  width: 100%;
}

#projects .heading .lines .line:not(:last-child) {
  margin-bottom: 0.35rem;
}

#projects .projects-list {
  margin-left: -8px;
  margin-right: -8px;
  justify-content: center;
}

#projects .projects-list .project {
  border-radius: 10px;
  height: 234px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 6px solid #3F3F3F;
  background-color: rgb(194, 194, 194);
  background-size: 135%;
  background-position: top center;
  color: white;
  transition: border-color 250ms ease, background-size 250ms ease;
  position: relative;
}

#projects .projects-list .project:hover {
  background-size: 160%;
  border-color: #3AAED8;
}

#projects .projects-list .project .project-info {
  background-color: rgba(26, 26, 26, 0.5);
  padding: 0.8rem;
  position: absolute;
  bottom: -5%;
  opacity: 0;
  left: 0;
  right: 0;
  transition: bottom 250ms ease, opacity 250ms ease;
}

#projects .projects-list .project .project-info .arrow {
  background-image: url(portfolio_assets/chevron-right.svg);
  width: 24px;
  height: 24px;
  display: block;
  margin-left: auto;
  margin-top: 1.6rem;
}

#projects .projects-list .project:hover .project-info {
  bottom: 0;
  opacity: 1;
}

#contact {
  text-align: center;
  padding-top: 14rem;
  padding-bottom: 4rem;
  font-size: 1.3333rem;
}

#contact h3 {
  font-size: 2.22222rem;
}

#contact p {
  max-width: 50%;
  margin: 0 auto;
}

#contact a {
  color: #3AAED8;
  font-weight: bold;
}

footer {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 8rem;
}

.footer-bg {
  background-image: url(portfolio_assets/grid-fade.svg);
  height: 100vh;
  background-repeat: repeat-x;
  background-position: bottom;
  margin-top: -90vh;
}